@page
@using Configuration.Options
@using Microsoft.Extensions.Options
@using Services
@using Models
@model IndexModel

@inject IOptions<VersionOptions> VersionOptions
@inject LatinService _latinService

@{
    ViewData["Title"] = "Home page";
    var _version = VersionOptions.Value;
}



<div class="text-center">
    <h1 class="display-4">Application Description</h1>

    @if (Model.LatinSentences is not null)
    {
        foreach (var sentence in Model.LatinSentences)
        {
            <p>@sentence.Sentence</p>
        }
    }
</div>
